<script setup lang="ts">
import { mdiLogout, mdiHome, mdiBasket } from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const logout = () => {
  loginStore.logout();
};
</script>
<template>
  <v-app>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://fbi.dek-d.com/27/0394/1144/122574935"
          :title="loginStore.loginName"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiHome"
          color="black"
          title="Home"
          value="home"
          to="/home"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiBasket"
          color="black"
          title="Point of Sell"
          value="point of sell"
          to="/pfs"
        ></v-list-item>
        <v-list-item
          class="mt-auto"
          :prepend-icon="mdiLogout"
          color="black"
          title="Logout"
          value="starred"
          @click="logout"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container><RouterView /></v-container>
    </v-main>
  </v-app>
</template>
