<script setup lang="ts">
import BallComponents from "@/components/BallComponents.vue";
import PraewComponent from "@/components/PraewComponent.vue";
</script>
<template>
  <v-row>
    <v-col><BallComponents></BallComponents></v-col>
    <v-col class="mt-4">
      <PraewComponent></PraewComponent>
    </v-col>
  </v-row>
</template>
