<script setup lang="ts">
import { mdiHome, mdiBasket, mdiLogout } from "@mdi/js";
</script>
<template>
  <v-container>
    <!-- <v-card color="grey" height="500" width="70">
      <v-row>
        <v-col>
          <v-btn :icon="mdiHome" color="black" variant="text" class="ml-2 mt-3">
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn :icon="mdiBasket" color="black" variant="text" class="ml-3">
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <v-btn :icon="mdiLogout" color="black" variant="text" class="ml-3">
          </v-btn>
        </v-col>
      </v-row>
    </v-card> -->
  </v-container>
</template>
<style></style>
