<script setup lang="ts">
import { mdiAccountPlus, mdiMagnify, mdiCash } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-form>
      <v-table class="box">
        <thead>
          <tr>
            <td>
              <v-row>
                <v-col>
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    variant="solo"
                    :append-inner-icon="mdiMagnify"
                    label="โปรโมชั่น"
                  ></v-text-field>
                </v-col>
                <v-col
                  ><v-btn
                    variant="tonal"
                    :icon="mdiCash"
                    size="48px"
                    color="black"
                  >
                    <v-icon
                      :icon="mdiCash"
                      size="35px"
                      color="black"
                    ></v-icon> </v-btn
                ></v-col>
                <v-col>
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    variant="solo"
                    :append-inner-icon="mdiMagnify"
                    label="เบอร์โทรสมาชิก"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-btn
                    variant="tonal"
                    :icon="mdiAccountPlus"
                    size="48px"
                    color="black"
                  >
                    <v-icon
                      :icon="mdiAccountPlus"
                      size="30px"
                      color="black"
                    ></v-icon> </v-btn
                ></v-col>
              </v-row>
            </td>
          </tr>
        </thead>
      </v-table>
    </v-form>
  </v-container>
</template>
<style scoped>
.box {
  display: flex;
  justify-content: flex-end;
}

.v-text-field {
  width: 210px;
}
</style>
