<script setup lang="ts">
import { useProductStore } from "@/stores/product";

const productStore = useProductStore();
</script>
<template>
  <v-card class="mr-2 ml-2 mt-1 bg-color" flat>
    <br />
    <v-card-title>
      <h1 class="text-center">รายการสินค้า</h1>
    </v-card-title>
    <br />
    <v-table class="bg-color">
      <thead>
        <tr>
          <th class="text-left text-h5">ชื่อสินค้า</th>
          <th class="text-md-center text-h5">จำนวน</th>
          <th class="text-md-center text-h5">ราคา</th>
        </tr>
      </thead>
      <tbody>
        <v-row v-for="item in productStore.list" :key="item.id">
          <v-col>{{ item.name }}</v-col>
          <v-col>{{ item.qty }}</v-col>
          <v-col>{{ item.price }}</v-col>
        </v-row>

        <tr>
          <td>คุกกี้(P)</td>
          <td class="text-md-center">2</td>
          <td class="text-md-center">0.00</td>
        </tr>
        <tr>
          <th class="text-h6">ยอดรวมสุทธิ</th>
          <td class="text-md-center">7</td>
          <td class="text-md-center">340.00</td>
        </tr>
        <tr>
          <th class="text-h6">ส่วนลด</th>
          <td class="text-md-center"></td>
          <td class="text-md-center">10.00</td>
        </tr>
        <tr>
          <th class="text-h6">ยอดเงินที่ได้รับ</th>
          <td></td>
          <td class="text-md-center">500.00</td>
        </tr>
        <tr>
          <th class="text-h6">เงินทอน</th>
          <td></td>
          <td class="text-md-center">170.00</td>
        </tr>
      </tbody>
    </v-table>
    <v-spacer class="spacer"></v-spacer>
    <v-container class="p">
      <v-btn class="ma-2">แก้ไขรายการสินค้า</v-btn>
      <v-btn class="ma-2">ชำระเงิน</v-btn>
    </v-container>
  </v-card>
</template>
<style scoped>
.bg-color {
  background-color: rgb(250, 250, 222);
}
.spacer {
  margin-bottom: 210px;
}
.p {
  margin-bottom: 10px;
  text-align: right;
}
</style>
