<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
import { mdiAccountCircle, mdiEyeOff, mdiEyeOutline, mdiLock } from "@mdi/js";
const loginStore = useLoginStore();

const inline = ref("");

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    loginStore.login(loginName.value, password.value);
  }
};
const marker = ref(true);
function toggleMarker() {
  marker.value = !marker.value;
}
</script>

<template>
  <v-container class="fixed-width">
    <v-row>
      <v-col cols="8">
        <v-img
          src="https://images.unsplash.com/photo-1507915135761-41a0a222c709?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
        >
        </v-img>
      </v-col>
      <v-col cols="4">
        <v-container>
          <v-row>
            <v-col
              ><v-img
                class="center"
                max-height="300"
                max-width="500"
                src="https://media.discordapp.net/attachments/1055371315802030092/1060895873158107288/IMG_6879_1.png?width=739&height=671"
              >
              </v-img
            ></v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card-text class="flex-center secondary"
                ><v-form
                  ref="form"
                  v-model="valid"
                  label="Outlined"
                  variant="outlined"
                >
                  <v-container>
                    <div class="second-color">
                      <p class="text-h6">
                        <v-icon :icon="mdiAccountCircle"></v-icon>
                        ชื่อผู้ใช้งาน
                      </p>
                    </div></v-container
                  >
                  <v-text-field
                    v-model="loginName"
                    :rules="[
                      (v) => !!v || 'Login Name is required',
                      (v) =>
                        v.length >= 4 ||
                        'Login Name must be more than or equal 4 characters',
                    ]"
                    required
                  ></v-text-field>

                  <v-container>
                    <div class="second-color">
                      <p class="text-h6">
                        <v-icon :icon="mdiLock"></v-icon>
                        รหัสผ่าน
                      </p>
                    </div></v-container
                  >
                  <v-text-field
                    :append-inner-icon="marker ? mdiEyeOff : mdiEyeOutline"
                    type="Password"
                    v-model="password"
                    :rules="[
                      (v) => !!v || 'Password is required',
                      (v) =>
                        v.length >= 8 ||
                        'Password must be more than or equal 8 characters',
                    ]"
                    required
                    @click:append-inner="toggleMarker()"
                  >
                  </v-text-field>

                  <v-radio-group v-model="inline" inline>
                    <v-radio
                      label="พนักงาน"
                      value="employee"
                      class="ma-4 second-color"
                    ></v-radio>
                    <v-radio
                      label="เจ้าของร้าน"
                      value="manager"
                      class="ma-4 second-color"
                    ></v-radio>
                  </v-radio-group>
                  <v-btn
                    @click="login"
                    width="15vw"
                    height="40px"
                    class="second-color"
                    variant="outlined"
                    >ตกลง</v-btn
                  >
                </v-form>
              </v-card-text>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backgroud {
  background: rgb(57, 71, 58);
  background: linear-gradient(
    180deg,
    rgba(57, 71, 58, 1) 22%,
    rgba(116, 100, 81, 1) 53%,
    rgba(170, 140, 104, 1) 100%
  );
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.second-color {
  color: rgb(66, 46, 39);
}

.border {
  border-radius: 1px;
}
.v-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.fixed-width {
  background-color: rgb(133, 104, 87);
  margin: 0%;
  max-width: 100vw;
  height: 100vh;
}
</style>
